<article class="news-card" [class.large]="isLarge()" [class.is-read]="isRead()">
  <a [routerLink]="['/news', article().id]" class="card-link">
    <div class="card-content">
      <div class="card-header">
        @if (categoryName()) {
          <span class="category-tag">{{ categoryName() }}</span>
        } @else {
          <span class="category-tag">{{ article().category }}</span>
        }
        @if (isRead()) {
          <span class="read-badge">✓ Przeczytane</span>
        }
      </div>

      <h3 class="title">{{ article().title }}</h3>
      <p class="snippet">{{ article().content }}</p>
    </div>
  </a>

  <div class="card-footer">
    <div class="meta-tags">
      @if (article().sentiment_gt) {
        <span
          class="tag sentiment"
          [class]="'sentiment-' + article().sentiment_gt"
        >
          @if (article().sentiment_gt === 'pozytywny') {
            <i>&#8599;</i> Pozytywny
          } @else if (article().sentiment_gt === 'neutralny') {
            <i>&#9878;</i> Neutralny
          } @else {
            <i>&#8600;</i> Negatywny
          }
        </span>
      }
      @if (article().political_bias_gt) {
        <span
          class="tag bias"
          [class]="'bias-' + article().political_bias_gt"
        >
          @if (article().political_bias_gt === 'lewicowe') {
            <i>&larr;</i> Lewicowe
          } @else if (article().political_bias_gt === 'centrowe') {
            <i>&harr;</i> Centrowe
          } @else {
            <i>&rarr;</i> Prawicowe
          }
        </span>
      }
    </div>
    <a [routerLink]="['/news', article().id]" class="read-more">
      Czytaj dalej &rarr;
    </a>
  </div>
</article>
